.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r.
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Vagrant
.vagrant

error_log

# Preprocessor stuff
.sass-cache
bower_components
node_modules

# Composer stuff
vendor

# WP
public/wp
public/app/uploads
public/app/mu-plugins

!public/app/plugins/
public/app/plugins/*

# !public/app/plugins/CUSTOM-PLUGIN
