.vagrant
.env
error_log
tags
.tags_swap

# Preprocessor stuff
.sass-cache
bower_components
node_modules

# Composer stuff
vendor

# WP
public/wp
public/app/uploads
public/app/mu-plugins
public/app/themes/twentyfifteen

!public/app/plugins/
public/app/plugins/*
# !public/app/plugins/CUSTOM-PLUGIN
